<%- include('parts/header')%>
<% function pad(n) {
   return n<10 ? '0'+n : n;
} %>
<h1>Bu shunchaki sarlavha</h1>

<!--SECTION TABS-->
<section class="tabs">
   <div class="container">
      <aside class="tabs__menu">
         <ul class="tabs__menu__ul">
            <li class="tabs__menu__li">
               <a href="#tabs__about">
                  <%= aboutLanguages.menu.item1[language] %>
               </a>
            </li>
            <li class="tabs__menu__li">
               <a href="#news">
                  <%= aboutLanguages.menu.item2[language] %>
               </a>
            </li>
            <li class="tabs__menu__li">
               <a href="#photo_galery">
                  <%= aboutLanguages.menu.item3[language] %>
               </a>
            </li>
            <li class="tabs__menu__li">
               <a href="#video_galery">
                  <%= aboutLanguages.menu.item4[language] %>
               </a>
            </li>
         </ul>
      </aside>
      <section class="tabs__content">
         <article class="tabs__content__item tabs__about" id="tabs__about">
            <div class="section__title" style="margin-bottom: 10px;">
               <h2> <%= aboutLanguages.menu.item1[language] %></h2>
            </div>
            <h2><% if(language === 'uz'){ %>
               <%= allAbouts.title_uz %>
               <%} else {%>
               <%= allAbouts.title_ru %>
               <% } %>
            </h2>
            <div class="mb-70">
               <% if(language === 'uz'){ %>
               <%- allAbouts.content_uz %>
               <%} else {%>
               <%- allAbouts.content_ru %>
               <% } %>
            </div>
            <div class="tabs__about__cards">
               <div class="tabs__about__card">
                  <span><%= aboutLanguages.prefers.prefers__card1[language]  %> </span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span><%= aboutLanguages.prefers.prefers__card2[language]  %></span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span><%= aboutLanguages.prefers.prefers__card4[language]  %></span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span><%= aboutLanguages.prefers.prefers__card5[language]  %></span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span><%= aboutLanguages.prefers.prefers__card3[language]  %></span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span><%= aboutLanguages.prefers.prefers__card6[language]  %></span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
            </div>

         </article>
         <section class="tabs__content__item tabs__news" id="news">
            <div class="section__title" style="margin-bottom: 10px;">
               <h2> <%= aboutLanguages.menu.item2[language] %></h2>
            </div>
            <div class="tabs__card__wrapper">
               <% var news %>
               <% for (let item of news) {%>
               <div class="tabs__card">
                  <div class="tabs__card__header">
                     <img src="files/<%= item.filename %>" alt="" width="280" height="190"
                        style="width:280px; height: 190px; object-fit: cover">
                  </div>
                  <div class="tabs__card__body">
                     <time>
                        <img src="img/icons/clock.svg" alt="clock icon">
                        <span><%= pad(item.dateCreated.getHours()) %>:<%= pad(item.dateCreated.getMinutes())%> </span>
                     </time>
                     <h3><% if(language === 'uz') {%><%= item.title_uz %> <% }else {%> <%= item.title_ru %> <% } %>
                     </h3>
                  </div>
                  <div class="tabs__card__link">
                     <time>
                        <img src="img/icons/clock.svg" alt="clock icon">
                        <span><%= pad(item.dateCreated.getHours()) %>:<%= pad(item.dateCreated.getMinutes())%></span>
                     </time>
                     <h3>
                        <a href="/news/<%= item._id %>"><% if(language === 'uz') {%><%= item.title_uz %> <% }else {%> <%= item.title_ru %>
                           <% } %></a>
                     </h3>
                  </div>
               </div>
               <% } %>
            </div>

         </section>

         <section class="tabs__content__item tabs__photos" id="photo_galery">
            <div class="section__title" style="margin-bottom: 10px;">
               <h2> <%= aboutLanguages.menu.item3[language] %></h2>
            </div>
            <% var k = 0 %>
            <% for(let i = 0; i < Math.ceil(photos.length / 5); i++) {%>
            <div class="gallery-photos">
               <div class="left">
                  <img
                     src="<% if(photos[k]) {%>/photogalery/<%= photos[k].filename %><%}else{%>/img/noPhoto.jpg<% } %> "
                     alt="img" width="240">
               </div>
               <div class="middle">
                  <div class="middle__top">
                     <img
                        src="<% if(photos[k+1]) {%>/photogalery/<%= photos[k+1].filename %><%}else{%>/img/noPhoto.jpg<% } %> "
                        alt="">
                  </div>
                  <div class="middle__bottom">
                     <img
                        src="<% if(photos[k+2]) {%>/photogalery/<%= photos[k+2].filename %><%}else{%>/img/noPhoto.jpg<% } %> "
                        alt="">
                     <img
                        src="<% if(photos[k+3]) {%>/photogalery/<%= photos[k+3].filename %><%}else{%>/img/noPhoto.jpg<% } %> "
                        alt="">
                  </div>
               </div>
               <div class="right">
                  <img
                     src="<% if(photos[k+4]) {%>/photogalery/<%= photos[k+4].filename %><%}else{%>/img/noPhoto.jpg<% } %> "
                     alt="doctor img" width="240" height="363">
               </div>
            </div>
            <% k = k + 5 %>
            <% } %>

         </section>
         <section id="video_galery">
            <div class="section__title" style="margin-bottom: 10px;">
               <h2> <%= aboutLanguages.menu.item4[language] %></h2>
            </div>
            <section class="tabs__content__item tabs__videos">

            </section>
         </section>
      </section>
   </div>
</section>

<!--SECTION FEEDBACK-->
<div class="feedback">
   <div class="container">
      <section class="is-useful">
         <span class="is-useful__question">
            Была ли это страница полезна?
         </span>
         <div class="is-useful__buttons">
            <button>
               <img src="img/icons/liked.svg" alt="like icon">
            </button>
            <button>
               <img src="img/icons/disliked.svg" alt="dislike icon">
            </button>
         </div>
      </section>
      <section class="share">
         <span>
            Поделится
         </span>
         <button>
            <img src="img/icons/share.svg" alt="share icon">
         </button>
      </section>
   </div>
</div>

<!--VIDEO MODAL-->
<div class="video-modal hide"></div>
<%- include('parts/footer')%>

<script src="/scripts/video-play.js"></script>

<script>
   const shereBtn = document.querySelector('.share')

   shereBtn.addEventListener('click', () => {
      navigator.clipboard.writeText("https://swissdental.uz");
      alert("Copied the text: " + "https://swissdental.uz");
   })
</script>