<%- include('parts/header')%>

<h1>Bu shunchaki sarlavha</h1>

<!--SECTION TABS-->
<section class="tabs">
   <div class="container">
      <aside class="tabs__menu">
         <ul class="tabs__menu__ul">
            <li class="tabs__menu__li">
               <a href="#tabs__about">
                  <%= aboutLanguages.menu.item1[language] %>
               </a>
            </li>
            <li class="tabs__menu__li">
               <a href="#news">
                  <%= aboutLanguages.menu.item2[language] %>
               </a>
            </li>
            <li class="tabs__menu__li">
               <a href="#photo_galery">
                  <%= aboutLanguages.menu.item3[language] %>
               </a>
            </li>
            <li class="tabs__menu__li">
               <a href="#video_galery">
                  <%= aboutLanguages.menu.item4[language] %>
               </a>
            </li>
         </ul>
      </aside>
      <section class="tabs__content">
         <article class="tabs__content__item tabs__about" id="tabs__about">
            <h2><% if(language === 'uz'){ %>
                  <%= allAbouts.title_uz %>
               <%} else {%>
                  <%= allAbouts.title_ru %>
               <% } %> 
            </h2>
            <p class="mb-70">
               <% if(language === 'uz'){ %>
                  <%- allAbouts.content_uz %>
               <%} else {%>
                  <%- allAbouts.content_ru %>
               <% } %> 
            </p>
            <div class="tabs__about__cards">
               <div class="tabs__about__card">
                  <span>Швейцарская надежность</span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span>Современное оборудование</span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span>Большой опыт работы</span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span>Высокие стандарты</span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span>Квалифицированные cпециалисты</span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
               <div class="tabs__about__card">
                  <span>Клиника в центре города</span>
                  <img src="img/gallery/tooth.png" alt="">
               </div>
            </div>

         </article>
         <section class="tabs__content__item tabs__news" id="news">
            <div class="tabs__card__wrapper">
               
            </div>
            <div class="pagination">
               <ul class="pagination__list">

               </ul>
            </div>
         </section>
         <section class="tabs__content__item tabs__photos" id="photo_galery">
               <% photos.forEach(function(photo) {%>
                  <div class="row">
                     <div class="left d-inline-block">
                        <img src="/photogalery/<%= photo.filename %> " alt="doctor img" width="240" height="363">
                     </div>
                  </div>
               <% }) %> 
            <!-- <div class="row">
               <div class="middle">
                  <div class="middle__top">
                     <img src="https://picsum.photos/375/176" alt="">
                  </div>
                  <div class="middle__bottom">
                     <img src="https://picsum.photos/183/176?rand=3" alt="">
                     <img src="https://picsum.photos/183/176?rand=4" alt="">
                  </div>
               </div>
               <div class="left">
                  <img src="https://picsum.photos/240/363?rand=3" alt="doctor img" width="240" height="363">
               </div>
               <div class="right">
                  <img src="https://picsum.photos/240/363?rand=4" alt="doctor img" width="240" height="363">
               </div>
            </div>
            <div class="row">
               <div class="left">
                  <img src="https://picsum.photos/240/363?rand=5" alt="doctor img" width="240" height="363">
               </div>
               <div class="middle">
                  <div class="middle__top">
                     <img src="https://picsum.photos/375/176" alt="">
                  </div>
                  <div class="middle__bottom">
                     <img src="https://picsum.photos/183/176?rand=5" alt="">
                     <img src="https://picsum.photos/183/176?rand=6" alt="">
                  </div>
               </div>
               <div class="right">
                  <img src="https://picsum.photos/240/363?rand=6" alt="doctor img" width="240" height="363">
               </div>
            </div> -->
         </section>
         <section class="tabs__content__item tabs__videos" id="video_galery">
         </section>
      </section>
   </div>
</section>

<!--SECTION FEEDBACK-->
<div class="feedback">
   <div class="container">
      <section class="is-useful">
         <span class="is-useful__question">
            Была ли это страница полезна?
         </span>
         <div class="is-useful__buttons">
            <button>
               <img src="img/icons/liked.svg" alt="like icon">
            </button>
            <button>
               <img src="img/icons/disliked.svg" alt="dislike icon">
            </button>
         </div>
      </section>
      <section class="share">
         <span>
            Поделится
         </span>
         <button>
            <img src="img/icons/share.svg" alt="share icon">
         </button>
      </section>
   </div>
</div>

<%- include('parts/footer')%>