<%- include('parts/header')%>
<% var myAppoinments %>
<% function pad(n) {
   return n<10 ? '0'+n : n;
} %>

<h1>Bu shunchaki sarlavha</h1>
<% if (user) { %>

<!--SECTION TABS-->
<section class="tabs">
   <div class="container">
      <aside class="tabs__menu">
         <ul class="tabs__menu__ul">
            <li class="tabs__menu__li">
               <%= accountLanguages.sub_menu.menu_item1[language] %> 
            </li>
            <!-- <li class="tabs__menu__li">
               Оплата
            </li> -->
            <li class="tabs__menu__li">
               <%= accountLanguages.sub_menu.menu_item2[language] %> 
            </li>
            <li class="tabs__menu__li">
               <a href="/logout">
                  <%= accountLanguages.sub_menu.menu_item3[language] %> 
               </a>
            </li>
         </ul>
      </aside>
      <section class="tabs__content">
         <section class="tabs__content__item tabs__appointments">
           <% if(myAppoinments.length > 0) {%>
            <div class="alerts">
            </div>
            <% myAppoinments.forEach(function(appointment) {%>
            <div class="tabs__appointments__card">
               <header class="tabs__appointments__card__header">
                  <h3><%= appointment.service__label %></h3>
                  <div class="tabs__appointments__card__date">
                     <img src="img/logos/decorativcircle.png" alt="" width="38" height="38">
                     <time>
                        <img src="img/icons/clock.svg" alt="">
                        <span><%=  pad(appointment.dateCreated.getHours())
                              %>:<%= pad(appointment.dateCreated.getMinutes()) %></span>
                     </time>
                     <div>
                        <img src="img/icons/calendar.svg" alt="">
                        <span><%=  pad(appointment.dateCreated.getDate())
                              %>:<%= pad(appointment.dateCreated.getMonth()) %>:<%= pad(appointment.dateCreated.getFullYear()) %></span>
                     </div>
                  </div>
               </header>
               <main class="tabs__appointments__card__main">
                  <%= appointment.service__includes__label %>
               </main>
               <footer class="tabs__appointments__card__footer">
                  <span>
               <b><%= accountLanguages.filial[language] %> :</b> <%= appointment.filial %>
                  </span>
                  <button data-id = "<%= appointment._id %>" class="cancel-appointment">
                     <%= accountLanguages.cancel_btn[language] %> 
                  </button>
               </footer>
            </div>

            <% }) %>
            
            <% } else{%>
               <span><%= accountLanguages.notification[language] %></span>     
            <% } %> 
         </section>

         <section class="tabs__content__item tabs__settings">
            <header class="tabs__settings__header">
               <h2><%= accountLanguages.settings.title[language] %></h2>
               <p><%= accountLanguages.settings.span[language] %></p>
            </header>
            <main class="tabs__settings__main">
               <div class="account-info">
                  <div class="account-data">
                     <h3><%=user.name%></h3>
                     <div class="account-registration-date">
                        <span><%= accountLanguages.settings.register_date[language] %>:</span>
                        <span><%=date%></span>
                     </div>
                  </div>
               </div>
               <form class="settings-form">
                  <div class="settings-form__field">
                     <label class="settings-form__field__label" for="full_name">
                        <span><%= accountLanguages.settings.form.name[language] %></span>
                        <input id="full_name" type="text" name="name" value="<%=user.name%>">
                     </label>
                     <label class="settings-form__field__label" for="phone_number">
                        <span><%= accountLanguages.settings.form.phone_number[language] %></span>
                        <input class="masked-phone" id="phone_number" type="tel" disabled
                           data-phonemask="+ <%= user.phone.toString().split('').join(' ')%>" />
                     </label>
                  </div>
                  <div class="settings-form__field">
                     <label class="settings-form__field__label" for="full_name">
                        <span>E-mail</span>
                        <input id="email" type="email" disabled value="<%=user.email%>">
                     </label>
                  </div>
                  <div class="tabs__settings__status">
                     <%= accountLanguages.settings.form.span[language] %>
                  </div>
                  <div class="tabs__settings__saving">
                     <button type="submit" class="tabs__settings__save">
                        <%= accountLanguages.settings.form.submit_btn[language] %>
                     </button>
                     <button class="tabs__settings__cancel">
                        <%= accountLanguages.settings.form.cancel_btn[language] %>
                     </button>
                  </div>
               </form>
            </main>
         </section>
      </section>
   </div>
</section>
<% } %>
<script src="scripts/masked-phone.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/tabs.js"></script>


<script>
   const deleteAppointmentBtnElement = document.querySelectorAll('.cancel-appointment')
   deleteAppointmentBtnElement.forEach((button) => {
      button.addEventListener("click", async (evt) => {
         console.log(evt);
         const response = await fetch(
            "account/delete/" + evt.target.dataset.id, {
               method: "DELETE",
            }
         );
         console.log(evt.target);
         console.log(evt.target.parentNode.parentNode);

         const json = await response.json();
         console.log(json.message);
         if (response.status === 200) {
            alert(json.message);
            evt.target.parentNode.parentNode.remove();
         } else {
            alert(json.error);
         }
      });
   });
</script>

<%- include('parts/footer')%>