<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Add blog panel</title>
</head>

<body>
    <% var num =1 %> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container container-fluid">
              <a class="navbar-brand" href="#">Admin Panel</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/cosmetic">Cosmetic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/contacts">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/appointments">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/doctor">Doctor</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    <div class="container">
        <% var message %> 
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="title mt-5">
                    <h2>News qo'shish</h2>
                </div>

                <% if(message) {%>
                <div class="alert alert-success" style="margin: 20px 0px;">
                    <%= message %>
                </div>
                <% } %>
            </div>
            <form action="/admin/news" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="mt-5">Title</label>
                    <input type="text" class="form-control my-2" id="title" name="title">

                    <label for="text" class="my-2">Text</label>
                    <textarea name="content" id="editor" class="my-2"
                        placeholder="Shu yerga blog so'zlarini kiriting...">
                            &lt;p&gt;&lt;/p&gt;
                        </textarea>

                    <label for="image" class="mt-2">Image</label>
                    <input type="file" class="form-control my-2" style="display: block" id="image" name="image">

                    <input type="submit" class="btn btn-primary w-100 mt-3" value="Blog qo'shish">
                </div>
            </form>
        </div>


        <div class="col-md-12 mt-5">
            <div class="title">
                <h2>Bloglar ro'yxati</h2>
                <hr>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Blog</th>
                        <th scope="col">Img</th>
                        <th scope="col">E/D</th>
                    </tr>
                </thead>
                <tbody>
                    <% allBlogsPog.forEach(function(blogItem) {%>
                    <tr>
                        <th scope="row"><%= num ++ %> </th>
                        <td><%= blogItem.title %></td>
                        <td class="blog-post">
                            <div style="height:200px">
                                <%- blogItem.content %>
                            </div>
                        </td>
                        <td>
                            <img style="width: 200px; height:200px; object-fit: contain"
                                src="/files/<%= blogItem.filename %>" alt="">
                        </td>
                        <td>
                            <a class="btn btn-primary edite_btn" href="/admin/edite/<%= blogItem._id %>">Edit</a>
                            <hr>
                            <button data-id="<%= blogItem._id%>" class="
                                btn btn-danger
                                delete_btn
                            ">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>

            <div>
                <nav
                    class=""
                    aria-label="Page navigation example"
                >
                    <ul class="pagination">
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="/admin?skipblog=<%= skipblog - 1%>"
                                >Previous</a
                            >
                        </li>

                        <% for(let i = 0; i < Math.ceil(allBlogsCount / 10); i++){%>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="/admin?skipblog=<%= i%>"
                                ><%= i + 1%></a
                            >
                        </li>
                        <%}%>

                        <li class="page-item">
                            <a
                                class="page-link"
                                href="/admin?skipblog=<%= skipblog + 1%>"
                                >Next</a
                            >
                        </li>
                    </ul>
                </nav>
            </div> 
        </div>

    </div>










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

            const successAlertElement = document.querySelector('.alert')
    setTimeout(function () {
        successAlertElement.parentNode.removeChild(successAlertElement);
         }, 5000);
    </script>

</body>

</html>