<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Category</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container container-fluid">
            <a class="navbar-brand" href="/admin">Панель администратора</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/cosmetic">Косметика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/contacts">Контакт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/appointments">Назначения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/news">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin/doctor">Врач</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/categorys">Категории</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% var message, error %>
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center my-4">
                        <h2>Услуги(Категории)</h2>
                        <hr>
                    </div>
                </div>


                <% if(message) {%>
                <div class="alert alert-success" style="margin: 20px 0px;">
                    <%= message %>
                </div>
                <% } %>
                <% if(error) {%>
                    <div class="alert alert-danger" style="margin: 20px 0px;">
                        <%= error %>
                    </div>
                    <% } %>
            </div>
            <h3>Введите виды услуг в клинике</h3>
            <form action="/admin/categorys" method="POST">
                <div class="form-group">
                    <label for="name" class="mt-5">Тип названия услуги - узбекский. </label>
                    <input type="text" class="form-control my-2" id="name" name="name_uz" placeholder="Тип названия услуги - узбекский" required>

                    <label for="name" class="">Название типа услуги - русское.</label>
                    <input type="text" class="form-control my-2" id="name" name="name_ru" placeholder="Название типа услуги - русское" required>

                    <input type="submit" class="btn btn-primary w-100 mt-3" value="Добавлять">
                </div>
            </form>
        </div>
        <% 
        var categorys = categorys || [];
        var num = 1
        %>
        <div style="overflow-x: auto;">
            <table class="table" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название категории</th>
                        <th scope="col">Изменять/Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <% categorys.forEach(function(category) {%>
                    <tr>
                        <th scope="row"><%= num ++ %> </th>
                        <td><%= category.name_ru %> </td>
                        <td>
                            <a class="btn btn-primary edite_btn" href="/admin/categorys/edite/<%= category._id %>">Изменять</a>
                            <button data-id="<%= category._id%>" class="
                                btn btn-danger
                                delete_btn
                            ">
                            Удалить
                            </button>
                        </td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>



    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

        const successAlertElement = document.querySelector('.alert')
        setTimeout(function () {
            successAlertElement.parentNode.removeChild(successAlertElement);
        }, 5000);
    </script>

<script>
    const delete_buttons = document.querySelectorAll(".delete_btn");
    delete_buttons.forEach((button) => {
        button.addEventListener("click", async (evt) => {
            console.log(evt);
            const response = await fetch(
                "categorys/delete/" + evt.target.dataset.id, {
                    method: "DELETE",
                }
            );
            const json = await response.json();
            if (response.status === 200) {
                alert(json.message);
                evt.target.parentNode.parentNode.remove();
            } else {
                alert(json.error);
            }   
        });
    });
</script>

</body>

</html>