<%- include('parts/header') %>
<% var user
   var error
   var status
%> 
<!--MAKE APPOINTMENT SECTION-->
<main class="make-appointment">
   <div class="container">
      <div class="alerts">
         <% if(status === 'ok') {%>
            <div class="alert alert-success" style="margin: 0;">
               Sizning so'rovnoma qabul qilindi!
            </div>
         <% } %> 
         <% if(error) {%>
            <div class="alert alert-danger" style="margin: 0;">
               <%= error %> 
            </div>
         <% } %> 
      </div>
      <h2><%= appointmentLanguages.appointment.title[language] %></h2>
      <form class="make-appointment__form" method="post" action="/appointment">
         <fieldset class="contact__info__fieldset">
            <legend><%= appointmentLanguages.appointment.sup_title[language] %></legend>
            <label class="settings-form__field__label" for="full_name">
               <span><%= appointmentLanguages.appointment.form.name_input[language] %></span>
               <input id="full_name" type="text" name="full_name"
               <% if(user){ %>
                  value="<%= user.full_name %>"
               <% } %>  
               >
            </label>
            <label class="settings-form__field__label" for="phone_number">
               <span><%= appointmentLanguages.appointment.form.phone_number_input[language] %></span>
               <input class="masked-phone" id="phone_number" type="tel" name="phone_number"
                      data-phonemask="+998 ( _ _ )  _ _ _  _ _  _ _"/
                      <% if(user){ %>
                        value="<%= user.phone_number %>"
                     <% } %>  
                      >
            </label>
            <div class="custom-select">
               <select id="filial" name="filial">
                  <option value="0"><%= appointmentLanguages.appointment.form.filial[language] %></option>
                  <option value="Юнсобоадиский филиал">Юнсобоадиский филиал</option>
                  <option value="Чиланзарский филиал">Чиланзарский филиал</option>
                  <option value="Мирабадский филиал">Мирабадский филиал</option>
                  <option value="Яшнабадский филиал">Яшнабадский филиал</option>
               </select>
            </div>
         </fieldset>
         <fieldset class="service__labels__fieldset">
            <legend><%= appointmentLanguages.appointment.form.service_header[language] %></legend>
            <div class="service__labels">
               <label class="service__label" for="treatment">
                  <input id="treatment" value="Лечение" name="service__label" type="checkbox">
                  <span></span>
                  <span>Лечение</span>
               </label>
               <label class="service__label" for="orthopedics">
                  <input id="orthopedics" value="Ортопедия" name="service__label" type="checkbox">
                  <span></span>
                  <span>Ортопедия</span>
               </label>
               <label class="service__label" for="therapeutic">
                  <input id="therapeutic" value="Терапевтическая" name="service__label" type="checkbox">
                  <span></span>
                  <span>Терапевтическая</span>
               </label>
               <label class="service__label" for="implantation">
                  <input id="implantation" value="Имплонтация" name="service__label" type="checkbox">
                  <span></span>
                  <span>Имплонтация</span>
               </label>
               <label class="service__label" for="orthodontics">
                  <input id="orthodontics" value="Ортодонтия" name="service__label" type="checkbox">
                  <span></span>
                  <span>Ортодонтия</span>
               </label>
               <label class="service__label" for="children">
                  <input id="children" value="Детская" name="service__label" type="checkbox">
                  <span></span>
                  <span>Детская</span>
               </label>
               <label class="service__label" for="cosmetic">
                  <input id="cosmetic" value="Косметическая" name="service__label" type="checkbox">
                  <span></span>
                  <span>Косметическая</span>
               </label>
            </div>
         </fieldset>
         <div class="service__includes__wrapper">
            <div class="service__includes">
               <h4>Ортопедия</h4>
               <label class="service__includes__label" for="1">
                  <input id="1" type="checkbox" name="service__includes__label" value="Лечение">
                  <span>Лечение</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
               <label class="service__includes__label" for="2">
                  <input id="2" type="checkbox" name="service__includes__label" value="Лечение от кариса">
                  <span>Лечение от кариса</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
               <label class="service__includes__label" for="3">
                  <input id="3" type="checkbox" name="service__includes__label" value="Пломба">
                  <span>Пломба</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
               <label class="service__includes__label" for="4">
                  <input id="4" type="checkbox" name="service__includes__label" value="Имлантация">
                  <span>Имлантация</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
            </div>
            <!-- <div class="service__includes">
               <h4>Косметическая</h4>
               <label class="service__includes__label" for="5">
                  <input id="5" type="checkbox" >
                  <span>Лечение от кариса</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
               <label class="service__includes__label" for="7">
                  <input id="7" type="checkbox">
                  <span>Лечение</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
               <label class="service__includes__label" for="8">
                  <input id="8" type="checkbox">
                  <span>Пломба</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
               <label class="service__includes__label" for="9">
                  <input id="9" type="checkbox">
                  <span>Имлантация</span>
                  <span>
                  <img src="img/icons/cancelicon.svg" alt="" width="5" height="5">
               </span>
               </label>
            </div> -->
         </div>
         <div class="appointment-saving">
            <button type="submit">
               <img src="img/icons/bell.svg" alt="bell icon">
               <span><%= appointmentLanguages.appointment.form.submit_btn[language] %></span>
            </button>
            <button type="button">
               <!-- <span>Сохранить на «Мои записи»</span> -->
            </button>
         </div>
      </form>
   </div>
</main>

<!--SITE FOOTER-->
<%- include('parts/footer') %>


<script>
   // const shereBtn = document.querySelector('.share')

   // shereBtn.addEventListener('click', () => {
   //    navigator.clipboard.writeText("https://swissdental.uz");
   //    alert("Copied the text: " + "https://swissdental.uz");
   // })


   // const sendAppointment = document.querySelector('.make-appointment__form')
   // const fullNameElement = document.querySelector('.full_name')
   // const phoneNumberElement = document.querySelector('.phone_number')
   // sendAppointment.addEventListener('submit', async (e) => {
   //    e.preventDefault()
   //    const option = {
   //       method: 'POST',
   //       headers: {
   //          'Content-Type': 'application/json'
   //       },
   //       body: JSON.stringify({
   //          full_name: sendAppointment.full_name.value,
   //          phone_number: sendAppointment.phone_number.value,
   //          filial: sendAppointment.filial.value,
   //          service__label: sendAppointment.service__label.value,
   //          service__includes__label: sendAppointment.service__includes__label.value,
   //       })

   //    }
   //    console.log(sendAppointment.service__label.value);
   //    const response = await fetch('/appointment', option);
   //    const json = await response.json();

   //    console.log(json);
   //    if (json.status === "ok") {

   //       const successAlertElement = document.createElement('div')

   //       successAlertElement.classList.add('alert', 'alert-success')
   //       successAlertElement.textContent = 'Ваша заявка отправлена'
   //       document.querySelector('.alerts').appendChild(successAlertElement)

   //       fullNameElement.value = ''
   //       phoneNumberElement.value = ''

   //       setTimeout(function () {
   //          successAlertElement.parentNode.removeChild(successAlertElement);
   //       }, 5000);
   //    }
   //    if (json.status === "error") {
   //       const successAlertElement = document.createElement('div')

   //       successAlertElement.classList.add('alert', 'alert-danger')
   //       successAlertElement.textContent = 'Ошибка отправки заявки'
   //       document.querySelector('.alerts').appendChild(successAlertElement)

   //       setTimeout(function () {
   //          successAlertElement.parentNode.removeChild(successAlertElement);
   //       }, 5000)
   //    }

   // })
</script> 