<%- include('parts/header') %>
<% var language = language || "ru" %>

<h1>Bu shunchaki sarlavha</h1>

<!--SLIDER SECTION-->
<section class="slider">
   <div class="container">
      <div class="single-slider">
         <div class="slide-item">
            <div class="slide-item__mini-title">
               <%= homeLanguages.header.slick_track[language] %>
            </div>
            <div class="slide-item__big-title">
               <span><%= homeLanguages.header.slide_item__big_title.span1[language] %> </span>
               <span><%= homeLanguages.header.slide_item__big_title.span2[language] %></span>
            </div>
            <div class="slide-item__links">
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button1[language] %>
               </a>
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button2[language] %>
               </a>
            </div>
         </div>
         <div class="slide-item">
            <div class="slide-item__mini-title">
               <%= homeLanguages.header.slick_track[language] %>
            </div>
            <div class="slide-item__big-title">
               <span><%= homeLanguages.header.slide_item__big_title.span1[language] %> </span>
               <span><%= homeLanguages.header.slide_item__big_title.span2[language] %></span>
            </div>
            <div class="slide-item__links">
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button1[language] %>
               </a>
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button2[language] %>
               </a>
            </div>
         </div>
         <div class="slide-item">
            <div class="slide-item__mini-title">
               <%= homeLanguages.header.slick_track[language] %>
            </div>
            <div class="slide-item__big-title">
               <span><%= homeLanguages.header.slide_item__big_title.span1[language] %> </span>
               <span><%= homeLanguages.header.slide_item__big_title.span2[language] %></span>
            </div>
            <div class="slide-item__links">
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button1[language] %>
               </a>
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button2[language] %>
               </a>
            </div>
         </div>
         <div class="slide-item">
            <div class="slide-item__mini-title">
               <%= homeLanguages.header.slick_track[language] %>
            </div>
            <div class="slide-item__big-title">
               <span><%= homeLanguages.header.slide_item__big_title.span1[language] %> </span>
               <span><%= homeLanguages.header.slide_item__big_title.span2[language] %></span>
            </div>
            <div class="slide-item__links">
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button1[language] %>
               </a>
               <a class="slide-item__link" href="#">
                  <%= homeLanguages.header.buttons.button2[language] %>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

<!--SECTION SERVICES-->
<section class="services">
   <header class="services__header">
      <div class="container">
         <div class="section__title">
            <h2>
               <%= homeLanguages.service_header.section_title.h2[language] %>
            </h2>
            <span>
               <%= homeLanguages.service_header.section_title.span[language] %>
            </span>
         </div>
         <div class="weather">
            <div class="weather__info">
               <span class="temperature">+10</span>
               <span class="celcius">C<span class="circle">º</span></span>
               <img class="weather__icon" src="img/services/cloud.svg" alt="cloud icon">
            </div>
            <div class="today-is">
               <span class="date">12 Ноябрь.</span>
               <span class="advice">
                  <%= homeLanguages.service_header.weather.today_id.advice[language] %>
               </span>
            </div>
         </div>
      </div>
   </header>
   <main class="services__main">
      <div class="container">
         <div class="services__slider">
            <div class="single-slider">
               <div class="slider__item">
                  <div class="description">
                     <h3>
                        <%= homeLanguages.service_header.sliders.slide_item.h3[language] %>
                     </h3>
                     <p>
                        <%= homeLanguages.service_header.sliders.slide_item.p[language] %>
                     </p>
                  </div>
                  <div class="item-img">
                     <img src="img/services/toothpaste.png" alt="">
                  </div>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="slider__item">
                  <div class="description">
                     <h3>
                        <%= homeLanguages.service_header.sliders.slide_item.h3[language] %>
                     </h3>
                     <p>
                        <%= homeLanguages.service_header.sliders.slide_item.p[language] %>
                     </p>
                  </div>
                  <div class="item-img">
                     <img src="img/services/toothpaste.png" alt="">
                  </div>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="services__list">
            <div class="row">
               <div class="services__card">
                  <img src="img/services/tooth.png" alt="tooth image">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="services__card">
                  <img src="img/services/tooth.png" alt="tooth image">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="services__card">
                  <img src="img/services/tooth.png" alt="tooth image">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="services__card">
                  <img src="img/services/tooth.png" alt="tooth image">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="services__card">
                  <img src="img/services/tooth.png" alt="tooth image">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="services__card">
                  <img src="img/services/tooth.png" alt="tooth image">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
                  <div class="decoration-discs">
                     <div class="outer">
                        <div class="medium">
                           <div class="inner">
                              <a href="#">
                                 <img src="img/icons/arrowbig.svg" alt="arrow icon">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
</section>

<!--SECTION ABOUT SAYS-->
<section class="about-says">
   <div class="container">
      <section class="about-us">
         <div class="section__title">
            <h2>
               <%= homeLanguages.about_says.section_title.h2[language] %>
            </h2>
            <span>
               <%= homeLanguages.about_says.section_title.span[language] %>
            </span>
         </div>
         <h3>
            <%= homeLanguages.about_says.section_title.h3[language] %>
         </h3>
         <img src="img/aboutus/dentistroom.png" alt="dentist's room">
      </section>
      <section class="people-says">
         <div class="section__title">
            <h2>
               <%= homeLanguages.about_says.people_say.section_title.h2[language] %>
            </h2>
            <span>
               <%= homeLanguages.about_says.people_say.section_title.span[language] %>
            </span>
         </div>
         <div class="comment">
            <header class="comment__header">
               <img src="img/peoplesays/operator.png" alt="patient image" width="50" height="50">
               <div class="comment__owner">
                  <h3>
                     <%= homeLanguages.about_says.people_say.comment.name %>
                  </h3>
                  <span>
                     <%= homeLanguages.about_says.people_say.comment.span[language] %>

                  </span>
               </div>
            </header>
            <main class="comment__text">
               <p>
                  <%= homeLanguages.about_says.people_say.comment.comment_text[language] %>
               </p>
            </main>
         </div>
         <form class="comment__form">
            <textarea class="comment__field" name="comment" id="comment"
               placeholder="<%= homeLanguages.about_says.people_say.comment.input_value[language] %>"></textarea>
            <label class="file-input" for="file_input">
               <input id="file_input" type="file">
               <img src="img/icons/fileinput.svg" alt="file input icon">
            </label>
            <button class="record-audio" type="button">
               <img src="img/icons/recordaudio.svg" alt="microphone icon">
            </button>
            <button class="send-comment" type="submit">
               <img src="img/icons/sendicon.svg" alt="send icon">
            </button>
         </form>
      </section>
   </div>
</section>

<!--SECTION NEWS-->
<section class="news">
   <div class="container">
      <div class="section__title">
         <h2>
            <%= homeLanguages.news.section_title.h2[language] %>
         </h2>
         <span>
            <%= homeLanguages.news.section_title.span[language] %>
         </span>
      </div>
      <div class="news-slider">
         <% blogs.forEach(function(blog) { %>
         <div class="news-slider__item">
            <div class="tabs__card">
               <div class="tabs__card__header">
                  <img src="files/<%= blog.filename %>" alt="" width="280" height="190"
                     style="width:280px; height: 190px; object-fit: cover">
               </div>
               <div class="tabs__card__body">
                  <time>
                     <img src="img/icons/clock.svg" alt="clock icon">
                     <span><%= blog.dateCreated.getHours()%>:<%= blog.dateCreated.getMinutes()%> </span>
                  </time>
                  <h3><%= blog.title %></h3>
               </div>
               <div class="tabs__card__link">
                  <time>
                     <img src="img/icons/clock.svg" alt="clock icon">
                     <span><%= blog.dateCreated.getHours()%>:<%= blog.dateCreated.getMinutes()%> </span>
                  </time>
                  <h3>
                     <a href="#"><%= blog.title %></a>
                  </h3>
                  <p>
                     <a href="#">Врачи общей практики станут семейными врачами – президент</a>
                  </p>
               </div>
            </div>
         </div>

         <% }) %>
      </div>
   </div>
</section>

<!--SECTION SIGN AND DOCTORS-->
<div class="sign-doctors">
   <div class="container">
      <section class="sign">
         <h2>
            <%= homeLanguages.sign_doctors.section_title.h2[language] %>
            <br>
            <%= homeLanguages.sign_doctors.section_title.h22[language] %>
         </h2>
         <div class="alerts">

         </div>
         <form class="sign__form" action='/appointmenthome' method='post'>
            <div class="sign__form__fields">
               <input type="text" placeholder="
            <%= homeLanguages.sign_doctors.section_title.sign_form.name_input[language] %>
            " name="full_name" required class="full_name">
               <input type="number" placeholder="
            <%= homeLanguages.sign_doctors.section_title.sign_form.phone_number_input[language] %>
            " name="phone_number" required class="phone_number">
            </div>
            <button type="submit" class="send_appointment_btn">
               <%= homeLanguages.sign_doctors.section_title.sign_form.submit_btn[language] %>
            </button>
         </form>
      </section>
      <section class="our-doctors">
         <header class="our-doctors__header">
            <h2>
               <%= homeLanguages.our_doctors.section_title.h2[language] %>
            </h2>
            <span>
               <%= homeLanguages.our_doctors.section_title.span[language] %>
            </span>
         </header>
         <main class="our-doctors__main">

         </main>
      </section>
   </div>
</div>

<!--SECTION PREFERS-->
<section class="prefers">
   <div class="container">
      <div class="row">
         <div class="prefers__card">
            <h3>
               <%= homeLanguages.prefers.prefers__card1[language] %>
            </h3>
            <img src="img/gallery/tooth.png" alt="">
         </div>
         <div class="prefers__card">
            <h3>
               <%= homeLanguages.prefers.prefers__card2[language] %>
            </h3>
            <img src="img/gallery/tooth.png" alt="">
         </div>
         <div class="prefers__card">
            <h3>
               <%= homeLanguages.prefers.prefers__card3[language] %>
            </h3>
            <img src="img/gallery/tooth.png" alt="">
         </div>
      </div>
      <div class="row">
         <div class="prefers__card">
            <h3>
               <%= homeLanguages.prefers.prefers__card4[language] %>
            </h3>
            <img src="img/gallery/tooth.png" alt="">
         </div>
         <div class="prefers__card">
            <h3>
               <%= homeLanguages.prefers.prefers__card5[language] %>
            </h3>
            <img src="img/gallery/tooth.png" alt="">
         </div>
         <div class="prefers__card">
            <h3>
               <%= homeLanguages.prefers.prefers__card6[language] %>
            </h3>
            <img src="img/gallery/tooth.png" alt="">
         </div>
      </div>
   </div>
</section>

<!--SECTION GALLERY-->
<section class="gallery">
   <div class="container">
      <section class="gallery__section">
         <header class="gallery__section__header">
            <div class="gallery__section__title">
               <span>
                  <%= homeLanguages.galery.video_galery.section_title.span[language] %>
               </span>
               <h2>
                  <%= homeLanguages.galery.video_galery.section_title.h2[language] %>
               </h2>
            </div>
            <a href="/about#video_galery">
               <img src="img/icons/bluearrowr.svg" alt="">
            </a>
         </header>
         <div class="tabs__video">
            <div class="video-wrapper">
               <div class="video-wrapper__video" data-index="<%= videoItem[0].video_link %>">
                  <img src='/files/<%= videoItem[0].filename %>' alt="">
                  <button>
                     <img src="img/icons/play.svg" alt="" style="max-width: 25%;">
                  </button>
               </div>
               <h3><%= videoItem[0].caption %></h3>
            </div>
         </div>
      </section>
      <section class="gallery__section">
         <header class="gallery__section__header">
            <div class="gallery__section__title">
               <span>
                  <%= homeLanguages.galery.photo_galery.section_title.span[language] %>
               </span>
               <h2>
                  <%= homeLanguages.galery.photo_galery.section_title.h2[language] %>
               </h2>
            </div>
            <a href="/about#photo_galery">
               <img src="img/icons/bluearrowr.svg" alt="">
            </a>
         </header>
         <div class="gallery_photos">
            <div class="photos__left">
               <img src="/photogalery/<%=photos[0].filename%>" alt="">
            </div>
            <div class="photos__right">
               <div class="photos__right-top">
                  <img src="/photogalery/<%=photos[1].filename%>" alt="">
               </div>
               <div class="photos__right-bottom" style="display: flex;">
                  <img src="/photogalery/<%=photos[2].filename%>" alt="" style="width: 50%; padding-right: 4px;">
                  <img src="/photogalery/<%=photos[3].filename%>" alt="" style="width: 50%;">
               </div>
            </div>
         </div>
         <!-- <div class="photos">
            <div class="photos__left">
               <img src="img/gallery/1.png" alt="">
            </div>
            <div class="photos__right">
               <div class="photos__right-top">
                  <img src="img/gallery/2.png" alt="">
               </div>
               <div class="photos__right-bottom">
                  <img src="img/gallery/3.png" alt="">
                  <img src="img/gallery/4.png" alt="">
               </div>
            </div>
         </div> -->
      </section>
   </div>
</section>

<!--SECTION CAMPAIGN (AKSIYA 2021)-->
<section class="campaign">
   <div class="container">
      <section class="campaign__section">
         <h3>
            <%= homeLanguages.campaign.campaign_section1.h3[language] %>
         </h3>
         <div class="campaign__section__text">
            <%= homeLanguages.campaign.campaign_section1.span[language] %>
         </div>
         <div class="campaign__section__links">
            <div class="campaign__section__socials">
               <a href="#">
                  <img src="img/icons/facebook.svg" alt="facebook icon">
               </a>
               <a href="#">
                  <img src="img/icons/telegram.svg" alt="telegram icon">
               </a>
            </div>
            <div class="campaign__section__more">
               <span>
                  <%= homeLanguages.campaign.campaign_section1.btn[language] %>
               </span>
               <a href="#">
                  <img src="img/icons/arrowbig.svg" alt="arrow icon">
               </a>
            </div>
         </div>
         <img class="campaign__section__img" src="img/campaign/apparat.png" alt="aparat image">
      </section>
      <section class="campaign__section">
         <h3>
            <%= homeLanguages.campaign.campaign_section2.h3[language] %>
         </h3>
         <div class="campaign__section__text">
            <%= homeLanguages.campaign.campaign_section2.span[language] %>
         </div>
         <div class="campaign__section__links">
            <div class="campaign__section__more">
               <span>
                  <%= homeLanguages.campaign.campaign_section2.btn[language] %>
               </span>
               <a href="#">
                  <img src="img/icons/arrowbig.svg" alt="arrow icon">
               </a>
            </div>
         </div>
      </section>
   </div>
</section>

<!--SECTION FEEDBACK-->
<div class="feedback">
   <div class="container">
      <section class="is-useful">
         <span class="is-useful__question">
            <%= homeLanguages.feedback.is_useful[language] %>
         </span>
         <div class="is-useful__buttons">
            <button>
               <img src="img/icons/liked.svg" alt="like icon">
            </button>
            <button>
               <img src="img/icons/disliked.svg" alt="dislike icon">
            </button>
         </div>
      </section>
      <section class="share">
         <span>
            <%= homeLanguages.feedback.share[language] %>
         </span>
         <button>
            <img src="img/icons/share.svg" alt="share icon">
         </button>
      </section>
   </div>
</div>

<div class="video-modal hide">
   
</div>

<%- include('parts/footer') %>

<script>
   let tabsVideos = document.querySelector('.video-wrapper__video'),
      videoModal = document.querySelector('.video-modal'),
      closeVideoModalBtn;
   const playVideo = document.querySelector('.video-wrapper')
      

   tabsVideos.addEventListener('click', e => {
         const target = e.currentTarget;    
        openVideoModal(target.getAttribute('data-index'))
      }) 
      
   function openVideoModal(index) {
      document.body.style.overflow = 'hidden';
      videoModal.classList.remove('hide');
         
      videoModal.innerHTML = `<iframe width="800" height="450" src='${index}' frameborder="0" allow="accelerometer; autoplay;
      clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <button>&times;</button>`
      closeVideoModalBtn = document.querySelector('.video-modal button');

      closeVideoModalBtn.addEventListener('click', () => {
         closeVideoModal();
      });
   }

   function closeVideoModal() {
      document.body.style.overflow = '';
      videoModal.classList.add('hide');
      videoModal.innerHTML = '';
   }

   window.addEventListener('keydown', e => {
      if (e.key === 'Escape') {
         closeVideoModal();
      }
   })
</script>