<%- include('parts/header')%>

<!--SLIDER SECTION-->
<h1>Bu shunchaki sarlavha</h1>

<!--SITE MAIN SECTION-->
<main class="site-main">
   <div class="container">
      <article class="article">
         <section class="article__treatment">
            <h2><%= treatmentLanguages.treatment.title[language] %></h2>
            <div class="treatment-types">
               <div class="treatment-types__card">
                  <h3>Ортопедия</h3>
                  <p>Является искажённым отрывком из философского</p>
               </div>
               <div class="treatment-types__card">
                  <h3>Терапевтическая</h3>
                  <p>Является искажённым отрывком из философского</p>
               </div>
               <div class="treatment-types__card">
                  <h3>Лечение зубов</h3>
                  <p>Является искажённым отрывком из философского</p>
               </div>
               <div class="treatment-types__card">
                  <h3>Имплантология</h3>
                  <p>Является искажённым отрывком из философского</p>
               </div>
               <div class="treatment-types__card">
                  <h3>Ортодонтия</h3>
                  <p>Является искажённым отрывком из философского</p>
               </div>
               <div class="treatment-types__card">
                  <h3>Детская стоматология</h3>
                  <p>Является искажённым отрывком из философского</p>
               </div>
            </div>
         </section>
         <section class="article__description">
            <h2><%if(language === 'uz'){%> <%= allTreatments.title_uz %> <% }else {%> <%= allTreatments.title_ru %> <% } %> </h2>
            <p>
               <%if(language === 'uz'){%> <%- allTreatments.content1_uz %> <% } else {%> <%- allTreatments.content1_ru %> <% } %> 
            </p>
            <div class="article__description__gallery">
               <figure>
                  <img src="/files/<%= allTreatments.filename1 %>" alt="" width="400" height="260">
                  <figcaption>
                     <%if(language === 'uz'){%> <%= allTreatments.caption1_uz %> <% }else {%> <%= allTreatments.caption1_ru %> <% } %>
                  </figcaption>
               </figure>
               <figure>
                  <img src="/files/<%= allTreatments.filename2 %>" alt="" width="400" height="260">
                  <figcaption>
                     <%if(language === 'uz'){%> <%= allTreatments.caption1_uz %> <% }else {%> <%= allTreatments.caption1_ru %> <% } %>
                  </figcaption>
               </figure>
            </div>
            <p>
               <%if(language === 'uz'){%> <%- allTreatments.content2_uz %> <% } else {%> <%- allTreatments.content2_ru %> <% } %>
            </p>
         </section>
      </article>
      <aside class="appointment">
         <h2><%= treatmentLanguages.appointment.header[language] %></h2>
         <form class="appointment__form" action="/appointmenthome" method="post">
            <input id="full-name" type="text" name="full_name" placeholder="<%= treatmentLanguages.appointment.form.name[language] %>">
            <input class="masked-phone" id="phone_number" type="tel" name="phone_number" data-phonemask="+998 ( _ _ )  _ _ _  _ _  _ _" placeholder="<%= treatmentLanguages.appointment.form.phone_number[language] %>"/>
            <button type="submit">
               <img src="img/icons/bell.svg" alt="">
               <span><%= treatmentLanguages.appointment.form.submit_btn[language] %></span>
            </button>
         </form>
      </aside>
   </div>
</main>

<%- include('parts/footer')%>
