<!--SITE FOOTER-->
<footer class="site-footer">
   <div class="container">
      <nav class="site-footer__nav">
         <ul class="site-footer__ul">
            <li class="site-footer__li">
               <a class="site-footer__link" href="/about">
                  <%= footerLanguages.navbar.list_items.item1[language] %> 
               </a>
            </li>
            <li class="site-footer__li">
               <a class="site-footer__link" href="/cosmetic">
                  <%= footerLanguages.navbar.list_items.item2[language] %> 
               </a>
            </li>
            <li class="site-footer__li">
               <a class="site-footer__link" href="/treatment">
                  <%= footerLanguages.navbar.list_items.item3[language] %> 
               </a>
            </li>
            <li class="site-footer__li">
               <a class="site-footer__link" href="/contacts">
                  <%= footerLanguages.navbar.list_items.item4[language] %> 
               </a>
            </li>
         </ul>
      </nav>
      <section class="site-footer__middle">
         <img src="/img/logos/logoimg.svg" alt="logo" width="95" height="91">
         <h3>Швейцарская косметическая стоматология</h3>
         <div class="social-links">
            <a class="social-links__item" target="_blank"
            href="https://facebook.com/<%= contacts.facebook %>">
            <img src="img/icons/ffacebook.svg" alt="facebook icon">
         </a>
         <a class="social-links__item" target="_blank" href="https://t.me/<%= contacts.telegram %>">
            <img src="img/icons/ftelegram.svg" alt="telegram icon">
         </a>
         <a class="social-links__item" target="_blank"
            href="https://instagram.com/<%= contacts.instagram %>">
            <img src="img/icons/finstagram.svg" alt="instagram icon">
         </a>
         <a class="social-links__item" target="_blank"
            href="https://twitter.com/<%= contacts.twitter %>">
            <img src="img/icons/ftwitter.svg" alt="twitter icon">
         </a>
         </div>
      </section>
      <section class="site-footer__info">
         <ul class="site-footer__info__ul">
            <li class="site-footer__info__li">
               <a href="tel: <%= contacts.phone_number %> "><%= contacts.phone_number %></a>
            </li>
            <li class="site-footer__info__li">
               <a href="mailto: <%= contacts.email %>"><%= contacts.email %></a>
            </li>
            <li class="site-footer__info__li">
               <a href="#"><%= contacts.address %></a>
            </li>
         </ul>
      </section>
   </div>
   <div class="container">
      <div>2020 ©. <%= footerLanguages.copyright[language] %></div>
      <div><% if(language === 'uz') {%> <a href="https://pixer.uz">Pixer</a> томонидан ишлаб чиқилган. <% }else {%> Сайт разработана в <a href="https://pixer.uz">Pixer</a>.<% } %>  </div>
   </div>
</footer>

<!--JAVASCRIPT FILES-->
<script src="/scripts/jquery.js"></script>
<script src="/scripts/slick.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/sliders-settings.js"></script>
</body>
</html>