<% 
   var user = user || ""
   var title
   var contacts = contacts || []
   // var admin = user.isAdmin || false
%>

<!doctype html>
<html lang="ru">
<head>
   <meta charset="utf-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
   <title>Swiss Dental <%= title %> </title>
   <link rel="icon"
         type="image/png"
         href="/img/favicon/favicon.png">
   <link rel="stylesheet" href="/css/slick.css"/>
   <link rel="stylesheet" href="/css/slick-theme.css"/>
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!--SITE HEADER-->
<header class="site-header">
   <div class="container">
      <a class="site-logo" href="/">
         <img src="/img/logos/mainlogo.svg" alt="site logo" width="247" height="52">
      </a>
      <div class="site-options">

         <div class="custom-select">
            <img src="/img/icons/globus.svg" alt="globus icon">
            <select name="page-language" class="page-language" id="page-language">
               <option value="0">Русский</option>
               <option value="1">Узбекский</option>
               <option value="2">Русский</option>
            </select>
         </div>
         <a class="registration" href="appointment">
            <img src="/img/icons/bell.svg" alt="bell icons" width="24">
            <span>
               <%= navbarLanguages.top_navbar.btns.btn1[language] %> 
            </span>
         </a>
         <a class="registration" href="<%= user ?  "account" : "login"%>">
            <img src="/img/icons/avatar.svg" alt="bell icons" width="14">
            <span><%= user ?  "Личний кабинет" : "Авторизация"%></span>
         </a>
      </div>
   </div>
</header>

<!--SITE NAVIGATION-->
<nav class="site-nav">
   <div class="container">
      <button class="nav-open">
         <img src="/img/icons/menuicon.svg" alt="">
         <span>Меню</span>
      </button>
      <ul class="site-nav__ul">
         <li class="site-nav__li">
            <a class="site-nav__link" href="/about">
               <%= navbarLanguages.navbar.list_items.item1[language] %> 
            </a>
         </li>
         <li class="site-nav__li">
            <a class="site-nav__link" href="/cosmetic">
               <%= navbarLanguages.navbar.list_items.item2[language] %> 
            </a>
         </li>
         <li class="site-nav__li">
            <a class="site-nav__link" href="treatment">
               <%= navbarLanguages.navbar.list_items.item3[language] %> 
            </a>
         </li>
         <li class="site-nav__li">
            <a class="site-nav__link" href="contacts">
               <%= navbarLanguages.navbar.list_items.item4[language] %> 
            </a>
         </li>
 
         <% if(user.isAdmin) { %>
            <li class="site-nav__li" style="margin-right: 30px;">
               <a class="site-nav__link" href="admin">
                  Админ панель
               </a>
            </li>
         <% } %> 
 
         <li class="site-nav__li"> 
            <a class="site-nav__link" href="tel: <%= contacts.phone_number %> ">
               <%= contacts.phone_number %> 
            </a>
         </li>
         <button class="nav-close" type="button">&times;</button>
      </ul>
   </div>
</nav>



<script>

</script>